SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_anon_key_here
CRON_SECRET=your_random_secret_here
FIREBASE_API_KEY=your_firebase_api_key_here
FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
FIREBASE_DATABASE_URL=https://your_project-default-rtdb.firebaseio.com/
FIREBASE_STORAGE_BUCKET=your_project.appspot.com