# Supabase
SUPABASE_URL=https://wuktedqzmwzdwvvgxznb.supabase.co
SUPABASE_KEY=tu_clave_supabase

# Firebase
FIREBASE_API_KEY=tu_api_key
FIREBASE_AUTH_DOMAIN=tu-proyecto.firebaseapp.com
FIREBASE_DATABASE_URL=https://tu-proyecto-default-rtdb.firebaseio.com/
FIREBASE_STORAGE_BUCKET=tu-proyecto.appspot.com
